.seat-picker {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.screen {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.seating-plan {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.row-name {
  font-weight: bold;
  margin-right: 10px;
  width: 20px;
}

.seat {
  background-color: #ccc;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 5px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  transition: background-color 0.3s ease;
}

.seat.selected {
  background-color: #ff5f6d;
  color: #ffffff;
}



.selected-seats {
  margin-top: 20px;
}

.selected-seats h4 {
  margin-bottom: 10px;
}

.selected-seats ul {
  list-style-type: none;
  padding-left: 0;
}

.selected-seats li {
  margin-bottom: 5px;
}

form {
  margin-top: 20px;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input[type="datetime-local"] {
  width: 100%;
  padding: 5px;
}

form button[type="submit"] {
  display: block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #f08080;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: #ff1677;
}
.available {
  /* Styles for available seats */
  background-color: #bbbbbb;
  color: #000000;
}

.unavailable {
  /* Styles for unavailable seats */
  background-color: #e0e0e0;
  color: #9e9e9e;
  cursor: not-allowed;
}